In [126]:
import pandas as pd
import Constants as c
import numpy as np
away = 'Los Angeles Lakers'
home = 'Miami Heat'
current_period = 4

In [166]:
score_by_q = pd.read_csv('score_by_q_Los Angeles Lakers_Miami Heat.csv')

In [168]:
# get a list of the players on each team
for player in pd.unique(score_by_q['player'].dropna()).tolist():
    print(player)
    print(pd.unique(score_by_q[score_by_q['player'] == player]['team'].dropna()))
    team = pd.unique(score_by_q[score_by_q['player'] == player]['team'].dropna())[0]
    #print(team)
    #fill_teams = score_by_q[(score_by_q['player'] == player) & (score_by_q['team'].isna())]
    #fill_teams['team'] = team
    score_by_q.loc[(score_by_q['player'] == player) & (score_by_q['team'].isna())]= team

Bam Adebayo
['Miami Heat']
Andre Drummond
['Los Angeles Lakers']
Wesley Matthews
['Los Angeles Lakers']
Jimmy Butler
['Miami Heat']
Markieff Morris
['Los Angeles Lakers']
Kentavious Caldwell-Pope
['Los Angeles Lakers']
Duncan Robinson
['Miami Heat']
Dennis Schroder
['Los Angeles Lakers']
Tyler Herro
['Miami Heat']
Victor Oladipo
['Miami Heat']
Andre Iguodala
[]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [165]:
score_by_q[score_by_q['player'] == 'Jimmy Butler']

,time_stamp,time_index,same_time_count,time,period,adj_time,away,home,total,play,player,fg_makes,fg_misses,3_makes,3_misses,ft_makes,ft_misses,points,team
29,4 4:46 92 97 1,4 4:46 92 97,1,1900-01-01 00:04:46,4,0 days 00:43:14,92,97,189,Jimmy Butler makes 19-foot pullup jump shot,Jimmy Butler,1.0,NaN,NaN,NaN,NaN,NaN,2.0,Miami Heat
85,4 10:01 82 90 1,4 10:01 82 90,1,1900-01-01 00:10:01,4,0 days 00:37:59,82,90,172,Jimmy Butler makes 15-foot pullup jump shot,Jimmy Butler,1.0,NaN,NaN,NaN,NaN,NaN,2.0,Miami Heat
183,3 8:10 60 63 1,3 8:10 60 63,1,1900-01-01 00:08:10,3,0 days 00:27:50,60,63,123,Jimmy Butler makes 3-foot two point shot,Jimmy Butler,1.0,NaN,NaN,NaN,NaN,NaN,2.0,Miami Heat
204,3 10:40 58 58 1,3 10:40 58 58,1,1900-01-01 00:10:40,3,0 days 00:25:20,58,58,116,Jimmy Butler makes 17-foot pullup jump shot,Jimmy Butler,1.0,NaN,NaN,NaN,NaN,NaN,2.0,Miami Heat
291,2 7:39 33 44 1,2 7:39 33 44,1,1900-01-01 00:07:39,2,0 days 00:16:21,33,44,77,Jimmy Butler makes 4-foot two point shot,Jimmy Butler,1.0,NaN,NaN,NaN,NaN,NaN,2.0,Miami Heat
319,2 10:18 28 37 1,2 10:18 28 37,1,1900-01-01 00:10:18,2,0 days 00:13:42,28,37,65,Jimmy Butler makes 23-foot three point jumper ...,Jimmy Butler,NaN,NaN,1.0,NaN,NaN,NaN,3.0,Miami Heat
322,2 11:07 28 34 1,2 11:07 28 34,1,1900-01-01 00:11:07,2,0 days 00:12:53,28,34,62,Jimmy Butler makes two point shot (Tyler Herro...,Jimmy Butler,1.0,NaN,NaN,NaN,NaN,NaN,2.0,Miami Heat
422,1 7:37 10 17 2,1 7:37 10 17,2,1900-01-01 00:07:37,1,0 days 00:04:23,10,17,27,Jimmy Butler makes driving layup,Jimmy Butler,1.0,NaN,NaN,NaN,NaN,NaN,2.0,Miami Heat

In [151]:
score_by_q.fillna(0, inplace=True)
# fills with one or zeros
one_hot = pd.get_dummies(score_by_q['period'])
one_hot = one_hot.T.reindex(list(range(1, current_period + 1))).T.fillna(0)
one_hot

     1  2  3  4
0    0  0  0  1
1    0  0  0  1
2    0  0  0  1
3    0  0  0  1
4    0  0  0  1
..  .. .. .. ..
449  1  0  0  0
450  1  0  0  0
451  1  0  0  0
452  1  0  0  0
453  1  0  0  0

[454 rows x 4 columns]

In [83]:
#points * 1 = amount of points the player has in the quarter
one_hot_points = one_hot[list(range(1, current_period + 1))].multiply(score_by_q['points'], axis='index')
one_hot_points = one_hot_points.rename(index=str, columns=c.period_points).reset_index(drop=True)
one_hot_points

     1Q PTS  2Q PTS  3Q PTS  4Q PTS
0       0.0     0.0     0.0     0.0
1       0.0     0.0     0.0     0.0
2       0.0     0.0     0.0     2.0
3       0.0     0.0     0.0     0.0
4       0.0     0.0     0.0     0.0
..      ...     ...     ...     ...
449     1.0     0.0     0.0     0.0
450     0.0     0.0     0.0     0.0
451     2.0     0.0     0.0     0.0
452     2.0     0.0     0.0     0.0
453     0.0     0.0     0.0     0.0

[454 rows x 4 columns]

In [84]:
score_by_q['fg_makes'].tail(80)

374    0.0
375    0.0
376    0.0
377    0.0
378    0.0
      ...
449    0.0
450    0.0
451    1.0
452    1.0
453    0.0
Name: fg_makes, Length: 80, dtype: float64

In [85]:
score_by_q['fg_misses'].tail(80)

374    0.0
375    0.0
376    0.0
377    1.0
378    0.0
      ...
449    0.0
450    0.0
451    0.0
452    0.0
453    0.0
Name: fg_misses, Length: 80, dtype: float64

In [86]:
one_hot_fg_makes = one_hot[list(range(1, current_period + 1))].multiply(score_by_q['fg_makes'], axis='index')
one_hot_fg_makes = one_hot_fg_makes.rename(index=str, columns=c.period_fg_makes).reset_index(drop=True)
one_hot_fg_makes

     1Q FG  2Q FG  3Q FG  4Q FG
0      0.0    0.0    0.0    0.0
1      0.0    0.0    0.0    0.0
2      0.0    0.0    0.0    1.0
3      0.0    0.0    0.0    0.0
4      0.0    0.0    0.0    0.0
..     ...    ...    ...    ...
449    0.0    0.0    0.0    0.0
450    0.0    0.0    0.0    0.0
451    1.0    0.0    0.0    0.0
452    1.0    0.0    0.0    0.0
453    0.0    0.0    0.0    0.0

[454 rows x 4 columns]

In [90]:
one_hot_fg_misses = one_hot[list(range(1, current_period + 1))].multiply(score_by_q['fg_misses'], axis='index')
one_hot_fg_misses.tail(80)

       1    2    3    4
374  0.0  0.0  0.0  0.0
375  0.0  0.0  0.0  0.0
376  0.0  0.0  0.0  0.0
377  1.0  0.0  0.0  0.0
378  0.0  0.0  0.0  0.0
..   ...  ...  ...  ...
449  0.0  0.0  0.0  0.0
450  0.0  0.0  0.0  0.0
451  0.0  0.0  0.0  0.0
452  0.0  0.0  0.0  0.0
453  0.0  0.0  0.0  0.0

[80 rows x 4 columns]

In [91]:
one_hot_fg_misses = one_hot_fg_misses.rename(index=str, columns=c.period_fg_misses).reset_index(drop=True)
one_hot_fg_misses.tail(80)

     1Q FGM  2Q FGM  3Q FGM  4Q FGM
374     0.0     0.0     0.0     0.0
375     0.0     0.0     0.0     0.0
376     0.0     0.0     0.0     0.0
377     1.0     0.0     0.0     0.0
378     0.0     0.0     0.0     0.0
..      ...     ...     ...     ...
449     0.0     0.0     0.0     0.0
450     0.0     0.0     0.0     0.0
451     0.0     0.0     0.0     0.0
452     0.0     0.0     0.0     0.0
453     0.0     0.0     0.0     0.0

[80 rows x 4 columns]

In [92]:
# not concating right, point values are becoming nan
score_by_q_s = score_by_q[['player', 'points', 'team']]
score_by_q_s

                       player  points                team
0                           0     0.0                   0
1                           0     0.0                   0
2                 Bam Adebayo     2.0          Miami Heat
3                           0     0.0                   0
4              Andre Drummond     0.0                   0
..                        ...     ...                 ...
449              Trevor Ariza     1.0                   0
450                         0     0.0                   0
451  Kentavious Caldwell-Pope     2.0  Los Angeles Lakers
452              Trevor Ariza     2.0          Miami Heat
453                         0     0.0                   0

[454 rows x 3 columns]

In [93]:
new = pd.concat([score_by_q_s, one_hot_points, one_hot_fg_makes, one_hot_fg_misses], axis=1, ignore_index=False)
#print(score_by_q[score_by_q['player'] == 'LeBron James'])
grouped_score = new.groupby(['player', 'team'], as_index=False).sum()
grouped_score.head(20)

,player,team,points,1Q PTS,2Q PTS,3Q PTS,4Q PTS,1Q FG,2Q FG,3Q FG,4Q FG,1Q FGM,2Q FGM,3Q FGM,4Q FGM
0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Alex Caruso,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Alex Caruso,Los Angeles Lakers,5.0,2.0,0.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Alfonzo McKinnie,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,Alfonzo McKinnie,Los Angeles Lakers,5.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,Andre Drummond,0,5.0,0.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
6,Andre Drummond,Los Angeles Lakers,8.0,6.0,0.0,2.0,0.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7,Andre Iguodala,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Bam Adebayo,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
9,Bam Adebayo,Miami Heat,12.0,4.0,4.0,2.0,2.0,2.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0
10,Ben McLemore,0,4.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,Ben McLemore,Los Angeles Lakers,2.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
12,Dennis Schroder,0,6.0,0.0,0.0,4.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
13,Dennis Schroder,Los Angeles Lakers,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
14,Duncan Robinson,0,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,Duncan Robinson,Miami Heat,9.0,3.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,Goran Dragic,0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
17,Goran Dragic,Miami Heat,6.0,2.0,2.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
18,Jimmy Butler,0,7.0,2.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
19,Jimmy Butler,Miami Heat,17.0,2.0,7.0,4.0,4.0,1.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0

In [ ]:
order = pd.CategoricalDtype([away, home], ordered=True)
grouped_score['team'] = grouped_score['team'].astype(order)
grouped_score.sort_values('team', inplace=True)
grouped_score['site'] = grouped_score['team'].apply(lambda x: 1 if x == home else (0 if x == away else x))
grouped_score.reset_index(inplace=True)
grouped_score.drop(grouped_score.columns[0], axis=1, inplace=True)
grouped_score = grouped_score.astype({'points':'int', '1Q PTS':'int', '2Q PTS':'int', '3Q PTS':'int', '4Q PTS':'int'})
grouped_score