In [41]:
import pandas as pd
import Constants as c
away = 'Los Angeles Lakers'
home = 'Miami Heat'
current_period = 4

In [42]:
score_by_q = pd.read_csv('score_by_q_Los Angeles Lakers_Miami Heat.csv')
score_by_q  = score_by_q [score_by_q ['player'].notna()].reset_index(drop=True)


# get a list of the players on each team
for player in pd.unique(score_by_q['player'].dropna()).tolist():
    try:
        team = pd.unique(score_by_q[score_by_q['player'] == player]['team'].dropna())[0]
    except IndexError:
        team = ''
    score_by_q.loc[(score_by_q['player'] == player) & (score_by_q['team'].isna()), 'team'] = team

In [43]:
score_by_q

,time_stamp,time_index,same_time_count,time,period,adj_time,away,home,total,play,player,fg_makes,fg_misses,3_makes,3_misses,ft_makes,ft_misses,points,team
0,4 59.5 97 106 1,4 59.5 97 106,1,1900-01-01 00:00:59,4,0 days 00:47:01,97,106,203,Bam Adebayo makes shot (Jimmy Butler assists),Bam Adebayo,1.0,NaN,NaN,NaN,NaN,NaN,2.0,Miami Heat
1,4 1:11 97 104 1,4 1:11 97 104,1,1900-01-01 00:01:11,4,0 days 00:46:49,97,104,201,Andre Drummond misses shot,Andre Drummond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles Lakers
2,4 1:36 97 104 1,4 1:36 97 104,1,1900-01-01 00:01:36,4,0 days 00:46:24,97,104,201,Wesley Matthews makes 23-foot three point jump...,Wesley Matthews,NaN,NaN,1.0,NaN,NaN,NaN,3.0,Los Angeles Lakers
3,4 1:58 94 104 1,4 1:58 94 104,1,1900-01-01 00:01:58,4,0 days 00:46:02,94,104,198,Bam Adebayo misses shot,Bam Adebayo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Miami Heat
4,4 2:14 94 104 1,4 2:14 94 104,1,1900-01-01 00:02:14,4,0 days 00:45:46,94,104,198,Jimmy Butler makes technical free throw,Jimmy Butler,NaN,NaN,NaN,NaN,1.0,NaN,1.0,Miami Heat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1 10:37 2 6 1,1 10:37 2 6,1,1900-01-01 00:10:37,1,0 days 00:01:23,2,6,8,Bam Adebayo makes jumper (Victor Oladipo assists),Bam Adebayo,1.0,NaN,NaN,NaN,NaN,NaN,2.0,Miami Heat
201,1 11:12 2 4 1,1 11:12 2 4,1,1900-01-01 00:11:12,1,0 days 00:00:48,2,4,6,Trevor Ariza makes free throw 2 of 2,Trevor Ariza,NaN,NaN,NaN,NaN,1.0,NaN,1.0,Miami Heat
202,1 11:12 2 3 1,1 11:12 2 3,1,1900-01-01 00:11:12,1,0 days 00:00:48,2,3,5,Trevor Ariza makes free throw 1 of 2,Trevor Ariza,NaN,NaN,NaN,NaN,1.0,NaN,1.0,Miami Heat
203,1 11:22 2 2 1,1 11:22 2 2,1,1900-01-01 00:11:22,1,0 days 00:00:38,2,2,4,Kentavious Caldwell-Pope makes 20-foot pullup ...,Kentavious Caldwell-Pope,1.0,NaN,NaN,NaN,NaN,NaN,2.0,Los Angeles Lakers
204,1 11:39 0 2 1,1 11:39 0 2,1,1900-01-01 00:11:39,1,0 days 00:00:21,0,2,2,Trevor Ariza makes 5-foot layup (Duncan Robins...,Trevor Ariza,1.0,NaN,NaN,NaN,NaN,NaN,2.0,Miami Heat

In [33]:
score_by_q.fillna(0, inplace=True)
# fills with one or zeros
one_hot = pd.get_dummies(score_by_q['period'])
one_hot = one_hot.T.reindex(list(range(1, current_period + 1))).T.fillna(0)

#points * 1 = amount of points the player has in the quarter
one_hot_points = one_hot[list(range(1, current_period + 1))].multiply(score_by_q['points'], axis='index')
one_hot_points = one_hot_points.rename(index=str, columns=c.period_points).reset_index(drop=True)

one_hot_fg_makes = one_hot[list(range(1, current_period + 1))].multiply(score_by_q['fg_makes'], axis='index')
one_hot_fg_makes = one_hot_fg_makes.rename(index=str, columns=c.period_fg_makes).reset_index(drop=True)
one_hot_fg_misses = one_hot[list(range(1, current_period + 1))].multiply(score_by_q['fg_misses'], axis='index')
one_hot_fg_misses = one_hot_fg_misses.rename(index=str, columns=c.period_fg_misses).reset_index(drop=True)

one_hot_ft_makes = one_hot[list(range(1, current_period + 1))].multiply(score_by_q['ft_makes'], axis='index')
one_hot_ft_makes = one_hot_ft_makes.rename(index=str, columns=c.period_ft_makes).reset_index(drop=True)
one_hot_ft_misses = one_hot[list(range(1, current_period + 1))].multiply(score_by_q['ft_misses'], axis='index')
one_hot_ft_misses = one_hot_ft_misses.rename(index=str, columns=c.period_ft_misses).reset_index(drop=True)

one_hot_3_makes = one_hot[list(range(1, current_period + 1))].multiply(score_by_q['3_makes'], axis='index')
one_hot_3_makes = one_hot_3_makes.rename(index=str, columns=c.period_3_makes).reset_index(drop=True)
one_hot_3_misses = one_hot[list(range(1, current_period + 1))].multiply(score_by_q['3_misses'], axis='index')
one_hot_3_misses = one_hot_3_misses.rename(index=str, columns=c.period_3_misses).reset_index(drop=True)

In [37]:
score_by_q_s = score_by_q[['player', 'team', 'points']]
new = pd.concat([score_by_q_s, one_hot_points, one_hot_fg_makes, one_hot_fg_misses, one_hot_3_makes, one_hot_3_misses, one_hot_ft_makes, one_hot_ft_misses], axis=1, ignore_index=False)
#print(score_by_q[score_by_q['player'] == 'LeBron James'])
grouped_score = new.groupby(['player', 'team'], as_index=False).sum()


fg_df = pd.DataFrame(columns=c.fg_cols)

for i in range(1, current_period+1):
    fg_attempts = grouped_score[str(i)+'Q FG'].astype(int) + grouped_score[str(i)+'Q FGM'].astype(int)
    fg_df[str(i)+'Q FG-FGA'] = grouped_score[str(i)+'Q FG'].astype(int).astype(str).str.cat(fg_attempts.astype(str), sep ="-")

    ft_attempts = grouped_score[str(i)+'Q FT'].astype(int) + grouped_score[str(i)+'Q FTM'].astype(int)
    fg_df[str(i)+'Q FT-FTA'] = grouped_score[str(i)+'Q FT'].astype(int).astype(str).str.cat(ft_attempts.astype(str), sep ="-")

    three_attempts = grouped_score[str(i)+'Q 3'].astype(int) + grouped_score[str(i)+'Q 3M'].astype(int)
    fg_df[str(i)+'Q 3-3A'] = grouped_score[str(i)+'Q 3'].astype(int).astype(str).str.cat(three_attempts.astype(str), sep ="-")

In [39]:
final = pd.concat([grouped_score[['player', 'team', 'points']],fg_df], axis=1, ignore_index=False)
order = pd.CategoricalDtype([away, home], ordered=True)
final['team'] = final['team'].astype(order)
final.sort_values('team', inplace=True)
#final['site'] = final['team'].apply(lambda x: 1 if x == home else (0 if x == away else x))
final

,player,team,points,1Q FG-FGA,1Q 3-3A,1Q FT-FTA,2Q FG-FGA,2Q 3-3A,2Q FT-FTA,3Q FG-FGA,3Q 3-3A,3Q FT-FTA,4Q FG-FGA,4Q 3-3A,4Q FT-FTA
0,Alex Caruso,Los Angeles Lakers,5.0,1-1,0-0,0-0,0-0,0-0,0-0,0-0,1-1,0-0,0-0,0-1,0-0
1,Alfonzo McKinnie,Los Angeles Lakers,5.0,0-0,0-1,0-0,0-1,0-0,0-0,0-0,1-1,0-0,1-1,0-0,0-0
2,Andre Drummond,Los Angeles Lakers,13.0,3-5,0-0,0-0,0-0,0-0,1-2,1-1,0-0,4-4,0-0,0-0,0-0
3,Andre Iguodala,,0.0,0-0,0-0,0-0,0-0,0-1,0-0,0-0,0-0,0-0,0-0,0-2,0-0
4,Bam Adebayo,Miami Heat,13.0,2-3,0-0,0-0,2-3,0-0,0-0,1-2,0-0,1-2,1-1,0-0,0-0
5,Ben McLemore,Los Angeles Lakers,6.0,0-0,0-2,1-1,0-0,0-0,3-3,1-1,0-0,0-0,0-0,0-1,0-0
6,Dennis Schroder,Los Angeles Lakers,8.0,0-1,0-0,0-0,0-1,0-2,0-0,0-0,0-1,4-4,1-1,0-1,2-2
7,Duncan Robinson,Miami Heat,11.0,0-0,1-1,0-0,0-0,0-1,0-0,0-0,1-2,1-1,0-0,1-1,1-1
8,Goran Dragic,Miami Heat,10.0,1-1,0-1,4-6,1-2,0-1,0-0,0-0,0-0,0-0,1-1,0-2,0-0
9,Jimmy Butler,Miami Heat,24.0,1-1,0-0,2-2,2-3,1-1,0-0,2-2,0-1,3-4,2-3,0-0,2-2
10,Kentavious Caldwell-Pope,Los Angeles Lakers,25.0,2-3,2-3,0-0,1-2,1-1,0-0,2-2,1-3,0-0,0-0,1-2,0-0
11,Markieff Morris,Los Angeles Lakers,12.0,0-0,0-0,0-0,2-2,1-2,0-0,0-0,0-1,0-0,1-1,1-3,0-0
12,Montrezl Harrell,Los Angeles Lakers,10.0,1-1,0-0,0-0,2-3,0-0,4-6,0-0,0-0,0-0,0-0,0-0,0-0
13,Nemanja Bjelica,,0.0,0-0,0-0,0-0,0-0,0-1,0-0,0-0,0-0,0-0,0-0,0-0,0-0
14,Precious Achiuwa,Miami Heat,7.0,0-0,0-0,0-0,0-0,0-0,0-0,2-2,0-0,1-1,0-3,0-0,2-4
15,Trevor Ariza,Miami Heat,8.0,1-1,0-1,4-4,0-0,0-0,0-0,1-1,0-1,0-0,0-0,0-0,0-0
16,Tyler Herro,Miami Heat,15.0,0-2,1-1,0-0,0-0,2-3,1-2,0-0,0-0,0-0,1-1,1-1,0-0
17,Victor Oladipo,Miami Heat,18.0,0-0,0-0,6-6,1-1,0-0,0-0,1-1,2-3,0-0,1-1,0-0,0-0
18,Wesley Matthews,Los Angeles Lakers,14.0,0-0,2-3,0-0,1-1,0-2,3-3,0-1,0-1,0-0,0-1,1-1,0-0